{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "react-app",
    "prettier",
    "plugin:react/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "react",
    "react-hooks"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "no-var": "error",
    "no-console": "warn",
    "array-callback-return": "off",
    "complexity": [
      "error",
      15
    ],
    "consistent-return": "off",
    "default-case": "error",
    "default-case-last": "off",
    "no-eval": "error",
    "react/display-name": "off",
    "no-return-await": "off",
    "eol-last": [
      "error",
      "always"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "no-unreachable-loop": "off",
    "no-loop-func": "error",
    "no-multi-str": "error",
    "no-nested-ternary": "off",
    "no-duplicate-imports": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "prefer-rest-params": "error",
    "no-useless-rename": "error",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "block-spacing": "error",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "no-unused-vars": "error"
  }
}